In [1]:
import numpy as np
import pandas as pd

# Make Data (DO NOT EDIT)
- file path = './usage.csv'

In [8]:
df = pd.DataFrame(
    {
        'ID' : range(1,501)
    }
)

In [9]:
df.head()

   ID
0   1
1   2
2   3
3   4
4   5

In [10]:
age_code = ['AGE_0'+f'{i}' for i in range(1,9)]
df['연령대코드'] = pd.Categorical(np.random.choice(age_code, size = len(df)), categories=age_code)

In [11]:
gender_code = ['M', 'm', '\\N', 'F', 'f']
df['성별'] = pd.Categorical(np.random.choice(gender_code, size=len(df)), categories=gender_code)

In [12]:
# df['이용건수'] = np.random.randint(1, 501, size=len(df))

In [13]:
df

      ID   연령대코드  성별
0      1  AGE_08   m
1      2  AGE_02   M
2      3  AGE_07   m
3      4  AGE_02   M
4      5  AGE_04   f
..   ...     ...  ..
495  496  AGE_07   f
496  497  AGE_03   m
497  498  AGE_07   f
498  499  AGE_03  \N
499  500  AGE_04   f

[500 rows x 3 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      500 non-null    int64
 1   연령대코드   500 non-null    category
 2   성별      500 non-null    category
dtypes: category(2), int64(1)
memory usage: 5.6 KB

In [17]:
df.describe()

               ID
count  500.000000
mean   250.500000
std    144.481833
min      1.000000
25%    125.750000
50%    250.500000
75%    375.250000
max    500.000000

In [19]:
df.to_csv('./usage.csv', index=False)

# Problem 1

In [20]:
df = pd.read_csv('./usage.csv')

In [21]:
# edit 연령대코드 
def edit_agecode(agecode):
	if agecode == 'AGE_01':
		return '10대'
	elif agecode == 'AGE_02':
		return '20대'
	elif agecode == 'AGE_03':
		return '30대'
	elif agecode == 'AGE_04':
		return '40대'
	elif agecode == 'AGE_05':
		return '50대'	
	elif agecode == 'AGE_60':
		return '60대'
	elif agecode == 'AGE_07':
		return '70대'
	else :
		return '기타'
		
df['연령대'] = df['연령대코드'].apply(edit_agecode)

In [22]:
def edit_gender(gender):
	if gender == 'M' or gender == 'm' :
		return 'M'
	elif gender == 'F' or gender == 'f':
		return 'F'
	else : 
		return None
df['성별'] = df['성별'].apply(edit_gender)

In [23]:
df.head()

   ID   연령대코드 성별  연령대
0   1  AGE_08  M   기타
1   2  AGE_02  M  20대
2   3  AGE_07  M  70대
3   4  AGE_02  M  20대
4   5  AGE_04  F  40대

In [28]:
# 연령대 별 성별 별 이용건수 count 
df.groupby(['연령대', '성별']).size().unstack(fill_value=0)

성별    F   M
연령대
10대  16  31
20대  22  26
30대  30  25
40대  25  23
50대  25  21
70대  24  22
기타   44  52

In [29]:
type(df.groupby(['연령대', '성별']).size())

pandas.core.series.Series

In [31]:
import pandas as pd

# 멀티인덱스 데이터프레임 생성
df = pd.DataFrame({
    'values': range(6),
    'A': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'],
    'B': ['one', 'two', 'three', 'one', 'two', 'three']
}).set_index(['A', 'B'])

df

           values
A   B
foo one         0
    two         1
    three       2
bar one         3
    two         4
    three       5

In [33]:
# unstack() 사용
unstacked = df.unstack(level='B')

unstacked

    values
B      one three two
A
bar      3     5   4
foo      0     2   1